<form name="submit_post_form" method="post" action="/submit_post">
  <ul>
    <li>title<input type="text" name="title"> </li>    
    <li>price<input type="text" name="price"> </li>
    <li>description<input type="text" name="description"/></li>
    <li>category<select name="category_id">
  <option value="1">Rentals</option>
  <option value="2">Jobs</option>
</select></li> 
  </ul>
  <input type="submit" value="submit">
</form>

<!-- # what is type? -->
<!-- wnat it be a dropdownbar -->